<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @biography.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @biography.slogan %>
</p>

<p>
  <strong>Greeting:</strong>
  <%= @biography.greeting %>
</p>

<p>
  <strong>Website name:</strong>
  <%= @biography.website_name %>
</p>

<p>
  <strong>Website title:</strong>
  <%= @biography.website_title %>
</p>

<p>
  <strong>Bio html:</strong>
  <%= @biography.bio_html %>
</p>

<%= link_to 'Edit', edit_biography_path(@biography) %> |
<%= link_to 'Back', biographies_path %>
