<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @project.caption %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Subtitie:</strong>
  <%= @project.subtitie %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @project.thumbnail %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Google url:</strong>
  <%= @project.google_url %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @project.github_url %>
</p>

<p>
  <strong>Music url:</strong>
  <%= @project.music_url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @project.copyright %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.type %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @project.rank %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
