<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= @link.icon %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @link.rank %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
