=render :partial => "common/admin_navbar"
.container
  =render :partial => "common/notice"
  %h1 Listing employers
  %table
    %thead
      %tr
        %th Dates
        %th Name
        %th Description
        %th Image
        %th Rank
        %th{colspan: "3"}
    %tbody
      - @employers.each do |employer|
        %tr
          %td= employer.dates
          %td= employer.name
          %td= employer.description
          %td= employer.image
          %td= employer.rank
          %td= link_to 'Show', employer
          %td= link_to 'Edit', edit_employer_path(employer)
          %td= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Employer', new_employer_path

